@import "tailwindcss";
@plugin "@toolwind/corner-shape";

html {
  scroll-behavior: smooth;
  scroll-padding-top: 65px;
}

:root {
  --brand-primary: #f59e0b;
  --brand-primary-dark: #d97706;
  --brand-accent: #fbbf24;
}
